.mail-data{
    display:flex;
    border-bottom-style: groove;
    border-color: green;
    border-width: 2px;
    flex-direction: column;
    padding: 0% 2%;
}

.mail-content {
    display:flex;
    padding: 0% 2% 2% 2%;
    justify-content: space-around;
}

.author {
    display:block;
    width: 40%;
    text-align: justify;
    font-size: 0.7em;
}

.date {
    text-align: right;
    color:#9a9a9a;
    font-style: italic;
    font-size: 0.6em;
}

.subject {
    display:block;
    width:60%;
    text-align: justify;
    font-size: 0.7em;
}