.mail-list-main-form {
    display:flex;
    flex-direction: column;
    width: 35%;
}

.mail-list {
    list-style-type: none;
    padding: 0px;
    max-height: 50%;
    overflow: auto;
    border: groove;
    border-width: 3px;
}

.archive-date-pick {
    width:40%;
    margin: 2% 0;
    border-radius: 0.5ch;
}

